.Offer {
    width: 250px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Offer:hover,
.Offer:active {
    background-color: #C0DDF5;
}

.User {
    margin: 16px 0;
    color: #ccc;
}


.Offer {
    width: 100%;
    height: 200px;
    border: 1px;
    background:#f2f2f2
}



a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}


textarea {
	display: block;
	width: 100%;
	border: 0;
	padding: 10px 5px;
  background: white no-repeat;
  font-size:15px;
  font-family: Poppins-Regular;
	
	/*
	* IMPORTANT PART HERE
	*/
	
  /* 2 imgs : 1px gray line (normal state) AND 2px green line (focus state) */
	background-image: linear-gradient(to right,#21d4fd ,#b721ff ), linear-gradient(to bottom, silver, silver);
	/* sizes for the 2 images (default state) */
	background-size: 0 2px, 100% 1px;
	/* positions for the 2 images. Change both "50%" to "0%" or "100%" and tri again */
	background-position: 50% 100%, 50% 100%;

	/* animation solely on background-size */
     transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}


textarea:focus{
  /* sizes for the 2 images (focus state) */
	background-size: 100% 2px, 100% 1px;
	outline: none; 
}

.textarea:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
  }

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #666666;
  line-height: 7.5;
  cursor: pointer;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #333333;
  line-height: 2.5;
  cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-offer100 {
  width: 300px; 
 /* min-height: 60vh; */
 /* min-height:480px; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
 /* justify-content: center; */
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
  float:left;

}

.wrap-offer100 {
  width: 800px;
  margin-top:20px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 33px 33px 33px 33px;
  
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.offer100-form {
  width: 100%;
}

.offer100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.offer100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-offerinput100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 27px;
}

.offerinput100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 25px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-offerinput100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-offerinput100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left,  #00375f,#21d4fd);
  background: -o-linear-gradient(left,  #00375f,#21d4fd);
  background: -moz-linear-gradient(left,  #00375f,#21d4fd);
  background: linear-gradient(left,  #00375f,#21d4fd);
}

.focus-offerinput100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.offerinput100:focus + .focus-offerinput100::after {
  top: -15px;
}

.offerinput100:focus + .focus-offerinput100::before {
  width: 100%;
}

.has-val.offerinput100 + .focus-offerinput100::after {
  top: -15px;
}

.has-val.offerinput100 + .focus-offerinput100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-offer100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-offer100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.offer100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.offer100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-offer100-form-btn:hover .offer100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-offer100 {
    padding: 77px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.language {
    padding:5px;
    text-align:left;
    width:200px;
}

.languages {
 
    margin-top:-25px;
    margin-left:35px;
    position:absolute;    
}

.languages a {
    cursor:pointer;
    animation : easeoutlanguage 0.4s ease-out forwards;
}


@keyframes easeoutlanguage  {
    0% {
        color: #f2f2f2;   
    }
    100% {
        color : #666666;
    }
}


.devices {
    margin-top:-25px;
    margin-left:25px;
    position:absolute;  
}

.devices a {
    cursor:pointer;
    animation : easeoutdevice 0.4s ease-out forwards; 
}

@keyframes easeoutdevice  {
    0% {
        color: #f2f2f2;   
    }
    100% {
        color : #666666;
    }
}

.device {
    padding:5px;
    text-align:left;
    width:200px;
}

.item {
    width:10px;
    padding-right:7px;
    margin-right:1px;
}

.selectwrap {

   width:200px;
}

.wrap-offerinput100active {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 27px;  
}

.buttonwrap {

   margin-top:39px;
   margin-bottom:17px;
}

.offerButton {
    border:1px solid #adadad ;
    width:100px;
    margin:0 auto;
    border-radius:10px;
}

.offerButton:hover {
    border: 1px solid #21d4fd;
    transition:border 0.4s ease;
    -webkit-transition:border 0.4s ease;
    -moz-transition:border 0.4s ease;
    -ms-transition:border 0.4s ease;
    -o-transition:border 0.4s ease;
}

.offerButton:active {
    border: 1px solid #b721ff;
    transition:border 0.4s ease;
    -webkit-transition:border 0.4s ease;
    -moz-transition:border 0.4s ease;
    -ms-transition:border 0.4s ease;
    -o-transition:border 0.4s ease;
}

.deleteButton {
  width:20px;
  height:20px;
  margin-bottom:4px;
  border:1px solid #ed680f;
  border-radius:10px;
  margin-left:180px;
}

.deleteButton a {
  color:#ed680f;
}

.deleteButton:hover {
  border: 1px solid #ce0053;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
}

.offerButton {
  border:1px solid #adadad ;
  width:100px;
  margin:0 auto;
  border-radius:10px;
}

.offerButton:hover {
  border: 1px solid #21d4fd;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
}

.offerButton:active {
  border: 1px solid #b721ff;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
}

.offerinput100::placeholder {
  color:#666666;
  opacity:1;
}

.offerinput100:-ms-input-placeholder {
  color:#666666;
}

.offerinput100::-ms-input-placeholder {
  color:#666666;
}

.updateButtonWrap {

  margin-top:0px;
  margin-bottom:0px;
}

.updateButton {
  border-bottom:1px solid #00989b ;
  width:100px;
  height:25px;
  margin:0 auto;
  border-radius:10px;
}

.updateButton:hover {
  border-bottom: 1px solid #21d4fd;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
}

.updateButton:active {
  border-bottom: 1px solid #21d4fd;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
}

.updateButton a {
    cursor:pointer 
}

.userButtonWrap {

  margin-top:0px;
  margin-bottom:0px;
}
    
.userButton {
  width:205px;
  height:25px;
  margin-left:0 ;
  border-radius:10px;
  text-align:left;
  padding-left:5px;
  padding-right:5px;
  overflow:hidden;
  font-size: 15px;

}

.userButton:hover {
  border-bottom: 1px solid #00989b;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
}

.userButton:active {
  border-bottom: 1px solid #21d4fd;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
} 

.userButton a {
    cursor:pointer;
    color:#00375f;
       
}

.userName {
  font-size: 15px;
  color:#21d4fd;
}

.chatWrap {

  margin-top:0px;
  margin-bottom:0px;
}
    
.chat {
  border-bottom:1px solid #adadad ;
  border-top:1px solid #adadad;
  width:205px;
  height:241px;
  margin-left:0 ;
  border-radius:10px;
  text-align:left;
  padding-left:5px;
  padding-right:5px;
  overflow:hidden;
  font-size: 15px;
}

.chat:hover {
  border-bottom: 1px solid #21d4fd;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
}

.chat:active {
  border-bottom: 1px solid #b721ff;
  transition:border 0.4s ease;
  -webkit-transition:border 0.4s ease;
  -moz-transition:border 0.4s ease;
  -ms-transition:border 0.4s ease;
  -o-transition:border 0.4s ease;
} 

.chat a {
    cursor:pointer;
       
}

.userName {
  font-size: 15px;
  color:#21d4fd;
}

.select {
  cursor:pointer;
  font-size: 15px;
  font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}


